<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>471-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{41,23}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{41,23}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>471-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,101},{29,25}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{29,25}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>471-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{35,27}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{35,27}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>471-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{39,21}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{39,21}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>471-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{41,23}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{41,23}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>471-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,101},{33,21}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{33,21}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>471-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,50},{25,33}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{25,33}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>471-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,72},{37,21}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{37,21}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>471-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,77},{33,21}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{33,21}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>471-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,45},{25,33}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{25,33}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>471-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,27},{41,21}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{41,21}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>471-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{41,23}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{41,23}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>471-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{29,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{29,25}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>471-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,72},{29,27}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{29,27}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>471-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,23}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{43,23}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>471-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{41,23}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{41,23}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6f8bc3a3a435ac1142f666bf968227c:1/1$</string>
            <key>textureFileName</key>
            <string>monster.png</string>
        </dict>
    </dict>
</plist>
