<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,52},{20,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,48}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
            <key>2-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,52},{20,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,48}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
            <key>2-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{22,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,50}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
            <key>2-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,90},{20,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,46}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
            <key>2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,50}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
            <key>2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,48},{20,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,48}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
            <key>2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,70},{18,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{18,48}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
            <key>2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{22,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,48}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
            <key>2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,26},{20,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{20,48}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
            <key>2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{20,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,48}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
            <key>2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{20,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,48}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
            <key>2-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{20,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,48}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c52f157d1933d3a211475ecddff7a302:1/1$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
