<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>19-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,408},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>19-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,350},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>19-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,292},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>19-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,234},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>20-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{126,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,222}}</string>
                <key>sourceSize</key>
                <string>{128,224}</string>
            </dict>
            <key>20-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,130},{126,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,222}}</string>
                <key>sourceSize</key>
                <string>{128,224}</string>
            </dict>
            <key>20-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,130},{126,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,222}}</string>
                <key>sourceSize</key>
                <string>{128,224}</string>
            </dict>
            <key>20-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{126,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,222}}</string>
                <key>sourceSize</key>
                <string>{128,224}</string>
            </dict>
            <key>20-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{126,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,222}}</string>
                <key>sourceSize</key>
                <string>{128,224}</string>
            </dict>
            <key>21-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,506},{126,158}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,158}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>21-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{126,158}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,158}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>21-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,548},{126,158}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,158}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>70-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1018},{144,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{144,110}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>71-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,934},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>71-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,862},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>71-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,848},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>71-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,778},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>71-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>71-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,904},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>71-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,820},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>71-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,748},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>71-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,734},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>71-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,664},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>71-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>71-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,790},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>72-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1108},{144,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{144,106}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>72-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1070},{144,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{144,106}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>72-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1084},{144,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{144,106}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>72-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1070},{144,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{144,106}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>72-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1000},{144,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{144,106}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>72-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,924},{144,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{144,106}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>72-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1048},{144,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{144,106}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>72-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,976},{144,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{144,106}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>72-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,962},{144,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{144,106}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>72-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,892},{144,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{144,106}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>72-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{144,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{144,106}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>72-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,778},{144,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{144,106}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>73-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,706},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>73-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,634},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>73-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,620},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>73-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,550},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>73-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,506},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>73-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>73-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,676},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>73-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,592},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>73-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,404},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>73-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,258},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>73-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,322},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>73-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,176},{144,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{144,112}</string>
            </dict>
            <key>8-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{508,172}}</string>
                <key>offset</key>
                <string>{53,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,20},{508,172}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>8-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1178},{144,70}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{144,70}}</string>
                <key>sourceSize</key>
                <string>{152,76}</string>
            </dict>
            <key>88-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,176},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>88-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,118},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>88-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,60},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>88-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,468},{166,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,122}}</string>
                <key>sourceSize</key>
                <string>{168,124}</string>
            </dict>
            <key>9-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,382},{166,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,122}}</string>
                <key>sourceSize</key>
                <string>{168,124}</string>
            </dict>
            <key>9-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,382},{166,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,122}}</string>
                <key>sourceSize</key>
                <string>{168,124}</string>
            </dict>
            <key>9-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,258},{166,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,122}}</string>
                <key>sourceSize</key>
                <string>{168,124}</string>
            </dict>
            <key>9-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{166,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,122}}</string>
                <key>sourceSize</key>
                <string>{168,124}</string>
            </dict>
            <key>9-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,424},{166,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,122}}</string>
                <key>sourceSize</key>
                <string>{168,124}</string>
            </dict>
            <key>9-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,258},{166,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,122}}</string>
                <key>sourceSize</key>
                <string>{168,124}</string>
            </dict>
            <key>9-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{166,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,122}}</string>
                <key>sourceSize</key>
                <string>{168,124}</string>
            </dict>
            <key>9-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,300},{166,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,122}}</string>
                <key>sourceSize</key>
                <string>{168,124}</string>
            </dict>
            <key>9-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,176},{166,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,122}}</string>
                <key>sourceSize</key>
                <string>{168,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>system_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d5067698215a0dac39dee29c68a46cb:1/1$</string>
            <key>textureFileName</key>
            <string>system_1.png</string>
        </dict>
    </dict>
</plist>
